.todo__alert--success {
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
    padding: 10px 30px;
}

.todo__alert--danger {
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
    padding: 10px 0;
}

.todo__alert--danger ul {
    margin: 0;
}

.todo__content {
    max-width: 1230px;
    margin:0 auto;
    padding: 60px 15px;
}

.create-form {
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.create-form__item {
    width: 70%;
}

.create-form__item-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    width: 100%;
    height: 40px;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo-table {
    width: 70%;
    margin: 30px auto;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #f0f0f0;
}

.todo-table__header {
    text-align: left;
    padding: 12px;
    font-weight: bold;
}

.todo-table__item:first-of-type {
    width: 90%;
    padding: 12px;
}

.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    border: none;
    outline: none;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    width: 100%;
    padding: 5px;
    background: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    width: 100%;
    padding: 5px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}